<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <filter>
    <filter-name>LocalizationFilter</filter-name>
    <filter-class>controller.filters.LocalizationFilter</filter-class>
    <init-param>
      <param-name>bundle</param-name>
      <param-value>language</param-value>
    </init-param>
    <init-param>
      <param-name>locale</param-name>
      <param-value>en</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>controller.filters.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>locale</param-name>
      <param-value>en</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>controller.filters.SecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LocalizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/admin_main_page.jsp</url-pattern>
    <url-pattern>/admin_orders_page.jsp</url-pattern>
    <url-pattern>/admin_prices_page.jsp</url-pattern>
    <url-pattern>/admin_routes_page.jsp</url-pattern>
    <url-pattern>/admin_trains_page.jsp</url-pattern>
    <url-pattern>/admin_users_page.jsp</url-pattern>
    <url-pattern>/admin_change_role_requests_page.jsp</url-pattern>
    <url-pattern>/passenger_main_page.jsp</url-pattern>
    <url-pattern>/passenger_orders_page.jsp</url-pattern>
    <url-pattern>/passenger_receipt_page.jsp</url-pattern>
    <url-pattern>/passenger_routes_page.jsp</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

</web-app>
